# Copyright (c) 2020 Eric Lau
# SPDX-License-Identifier: MIT

if BOARD_NORU64_V1_LEFT

	config ZMK_KEYBOARD_NAME
	default "Noru64 v1 L"

endif # BOARD_NORU64_V1_LEFT


if BOARD_NORU64_V1_RIGHT

	config ZMK_KEYBOARD_NAME
	default "Noru64 v1 R"

endif # BOARD_NORU64_V1_RIGHT


if BOARD_NORU64_V1_LEFT || BOARD_NORU64_V1_RIGHT

config BOARD
	default "Noru64"

config ZMK_SPLIT
	default y

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB

endif # BOARD_NORU64_V1_LEFT || BOARD_NORU64_V1_RIGHT
